* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "YuseiMagic";
  src: url("font/YuseiMagic-Regular.ttf");
}

body {
  font-family: "YuseiMagic", sans-serif;
  background-color: #f9f9f9;

  color: #000;
}

header {
  background-color: #ffffff;
  text-align: center;
  padding: 0.6em 0;
}
header img {
  width: 12em;
}
a {
    text-decoration: none;

}
main {
  display: flex;
  flex-direction: column;
}

.welkom {
  background-color: #3b6437;
  padding: 1em;
  gap: 1em;
  align-items: flex-start;
  --mask: conic-gradient(
      from -52.5deg at bottom,
      #0000,
      #000 1deg 104deg,
      #0000 105deg
    )
    50%/2.61em 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

section h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: white;
  flex: 1;
}

section p {
  font-size: 1em;
  margin-bottom: 1em;
  color: #ffffff;
  flex: 1;
}
section img {
  width: 8em;
  height: auto;
  margin-bottom: 0.5em;
}

button {
    background-color: #664330;
  color: #ffffff;
  padding: 1em;
  border-radius: 0.5em;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
}

article {
  background-color: #ffffff;
  padding: 2em;
  font-size: 1em;
  --mask: conic-gradient(
      from -52.5deg at bottom,
      #0000,
      #000 1deg 104deg,
      #0000 105deg
    )
    50%/2.61em 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.waaromVegan {
  background-color: #3b6437;
  padding: 2em;
  gap: 1em;
  --mask: conic-gradient(
      from 127.5deg at top,
      #0000,
      #000 1deg 104deg,
      #0000 105deg
    )
    50%/52.13px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
/* Footer */
footer {
  background-color: #664330;
  color: #fff;
  text-align: center;
  padding: 1em;
}

footer h2 {
  font-size: 1em;
}
footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  
}
footer img {
  width: 3em;
}
